@{
    ViewBag.Title = "Future Events";
}

<div class="future-events">
    <h2>Future Events</h2>
    <table class="events-table">
        <tr>
            <td>
                <strong>Waiting for the 2016 programme</strong>
            </td>
        </tr>
        @*<tr>
            <td>
                <strong>15th November 2015</strong><br />
                Sparkle Designs Awards Day
            </td>
        </tr>*@
    </table>
</div>
