@{
    ViewBag.Title = "Future Events";
}

<div class="future-events">
    <h2>Future Events</h2>
    <table class="events-table">
        <tr>
            <td>
                <strong>2nd October 2016</strong><br />
                David Osborn Tribute Day
            </td>
            <td>
                <strong>13th November 2016</strong><br />
                Sparkle Designs Awards Day
            </td>
        </tr>
    </table>
</div>
