@model List<Leatherhead.Business.CompDatesPoco>
@{
    ViewBag.Title = "Future Events";
}

<div class="future-events">
    <h2>Future Events</h2>
    @if (!Model.Any())
    {
        <div>There are currently no competitions planned.</div>
    }
    else
    {
        <table class="events-table">
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <strong>@m.CompetitionDateFormatted</strong><br />
                        @m.CompetitionName
                    </td>
                </tr>
            }
        </table>
    }
</div>