@{
    ViewBag.Title = "Future Events";
}

<div class="future-events">
    <h2>Future Events</h2>
      <table class="events-table">
        <tr>
            <td>
                26th January 2014
            </td>
            <td>
                26th January 2014
            </td>
            <td>
                26th January 2014
            </td>
            <td>
                26th January 2014
            </td>

        </tr>
    </table>
</div>
