@{
    ViewBag.Title = "Future Events";
}

<div class="future-events">
    <h2>Future Events</h2>
    <table class="events-table">
        <tr>
          <td>17th August 2014, Jim Langton Tribute Day
            </td>
            <td>14th September 2014, David Osborne Tribute Day
            </td>
            <td>16th November 2014, Sparkle Designs Awards Day
            </td>
        </tr>
    </table>
</div>
