@{
    ViewBag.Title = "Future Events";
}

<div class="future-events">
    <h2>Future Events</h2>
    <table class="events-table">
        <tr>
            <td>23rd March 2014
            </td>
            <td>15th June 2014
            </td>
            <td>17th August 2014
            </td>
            <td>14th September 2014
            </td>
            <td>16th November 2014
            </td>
        </tr>
    </table>
</div>
