@{
    ViewBag.Title = "Future Events";
}

<div class="future-events">
    <h2>Future Events</h2>
    <table class="events-table">
        <tr>
            <td>
                <strong>2nd April 2017</strong><br />
                Cairncross/Follett Awards Day
            </td>
 <td>
                <strong>16th July 2017</strong><br />
                Edward Noyce Tribute Day
            </td>
        </tr>
        <tr>
            <td>
                <strong>20th August 2017</strong><br />
                Jim Langton Tribute Day
            </td>
<td>
                <strong>1st October 2017</strong><br />
                David Osborn Tribute Day
            </td>
        </tr>
        <tr>
            
            <td>
                <strong>12th November 2017</strong><br />
                Sparkle Designs Awards Day
            </td>
        </tr>
    </table>
</div>