@{
    ViewBag.Title = "Future Events";
}

<div class="future-events">
    <h2>Future Events</h2>
    <table class="events-table">
        <tr>
            <td>Awaiting programme for 2015
            </td>
        </tr>
    </table>
</div>
