@{
    ViewBag.Title = "Future Events";
}

<div class="future-events">
    <h2>Future Events</h2>
    <table class="events-table">
        <tr>
            <td>
                <strong>14th June 2015</strong><br />
Edward Noyce Tribute Day
            </td>
            <td>
                <strong>16th August 2015</strong><br />
Jim Langton Tribute Day
            </td>
        </tr>
        <tr>
            <td>
                <strong>4th October 2015</strong><br />
David Osborne Tribute Day
            </td>
            <td>
                <strong>15th November 2015</strong><br />
Sparkle Designs Awards Day
            </td>
        </tr>
    </table>
</div>
