@{
    ViewBag.Title = "Results";
}

<div class="results">
    <h2>Results</h2>
    <table class="result-table">
        <tr>
            <td colspan="4" class="section">Juvenile Section
            </td>
        </tr>
        <tr>
            <td class="pull-left">Juvenile Beginners</td>
            <td class="pull-right">N/A</td>
            <td class="pull-left">Juvenile Beginners</td>
            <td class="pull-right">N/A</td>
        </tr>
        <tr>
            <td class="pull-left">Juvenile Novice</td>
            <td class="pull-right">N/A</td>
            <td class="pull-left">Juvenile Novice</td>
            <td class="pull-right">N/A</td>
        </tr>
        <tr>
            <td class="pull-left">Juvenile 2 dance (W.T)</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Juvenile 2 dance (C.S)</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Juvenile 2 dance (T.Q)</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Juvenile 2 dance (R.J)</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Juvenile All Girls</td>
            <td class="pull-right">N/A</td>
            <td class="pull-left">Juvenile All Girls</td>
            <td class="pull-right">N/A</td>
        </tr>
        <tr>
            <td class="pull-left">Juvenile (4 dance)</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Juvenile (4 dance)</td>
            <td class="pull-right">N/A</td>
        </tr>

        <tr>
            <td colspan="4" class="section">Junior Section
            </td>
        </tr>
        <tr>
            <td class="pull-left">Junior Beginners</td>
            <td class="pull-right">N/A</td>
            <td class="pull-left">Junior Beginners</td>
            <td class="pull-right">N/A</td>
        </tr>
        <tr>
            <td class="pull-left">Junior Novice</td>
            <td class="pull-right">N/A</td>
            <td class="pull-left">Junior Novice</td>
            <td class="pull-right">C.J</td>
        </tr>
        <tr>
            <td class="pull-left">Junior 2 Dance (T.Q)</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Junior 2 Dance</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
         <tr>
            <td class="pull-left">Junior 2 Dance (W.F)</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Junior 2 dance</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Junior All Girls</td>
            <td class="pull-right">N/A</td>
            <td class="pull-left">Junior All Girls</td>
            <td class="pull-right">N/A</td>
        </tr>
        <tr>
            <td class="pull-left">Junior (5 dance)</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Junior (5 dance)</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td colspan="4" class="section">Adult Phase 1 (Latin)
            </td>
        </tr>
        <tr>
            <td class="pull-left">Beginners</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Novice</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Intermediate</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Open Pre-Champ</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Senior Pre-Champ</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Senior 2</td>
            <td class="pull-right">N/A</td>
        </tr>
        <tr>
            <td class="pull-left">Open Senior</td>
            <td class="pull-right">N/A</td>
            <td class="pull-left">Open Amateur</td>
            <td class="pull-right">N/A</td>
        </tr>
        <tr>
            <td class="pull-left">Open Jive</td>
            <td><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Open Rumba</td>
            <td><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td colspan="4" class="section">Adult Phase 2 (Ballroom)
            </td>
        </tr>
        <tr>
            <td class="pull-left">Intermediate</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Over 50s Senior Pre-Champ</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Open 35s Waltz</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Senior 3</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Beginners</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">&nbsp;</td>
            <td class="pull-right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4" class="section">Adult Phase 3
            </td>
        </tr>
        <tr>
            <td class="pull-left">Senior Intermediate</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Open Pre-Champ</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Senior Pre-Champ</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Over 35s Foxtrot</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Senior 2</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Open Quickstep</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td colspan="4" class="section">Adult Phase 4
            </td>
        </tr>
        <tr>
            <td class="pull-left">Novice</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Over 35s Tango</td>
            <td class="pull-right">N/A</td>
        </tr>
        <tr>
            <td class="pull-left">Over 35s Tango</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Over 35s VW</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Open Senior</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
            <td class="pull-left">Open Amatuer</td>
            <td class="pull-right"><a href="" target="_blank">Results</a></td>
        </tr>
    </table>

</div>

