@{
    ViewBag.Title = "Results";
}

<div class="results">
    <h2>Results</h2>
    <table class="result-table" style="width: 100%;">
        <tr>
            <td colspan="2" class="section">
                14th February 2016
            </td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Competitors' List
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/14-Feb-2016/Competitors.xls" target="_blank">List</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
               Juvenille
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/14-Feb-2016/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Junior
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/14-Feb-2016/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Adult Ballroom
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/14-Feb-2016/Results3.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Latin
            </td>
            <td class="pull-right"><a href="~/ResultFiles/Leatherhead/14-Feb-2016/Results4.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td colspan="2" class="section">
                15th November 2015
            </td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Competitors' List
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Nov-2015/CompetitorList.pdf" target="_blank">List</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Adult Ballroom
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Nov-2015/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Nov-2015/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td colspan="2" class="section">
                4th October 2015
            </td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Competitors' List
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/04-Oct-2015/CompetitorList.pdf" target="_blank">List</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Junior
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/04-Oct-2015/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Adult Ballroom
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/04-Oct-2015/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/04-Oct-2015/Results3.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td colspan="2" class="section">
                16th August 2015
            </td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Competitors' List
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/16-Aug-2015/CompetitorList.pdf" target="_blank">List</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Junior - only one couple
            </td>
            <td class="pull-right"></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Adult Ballroom
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/16-Aug-2015/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/16-Aug-2015/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td colspan="2" class="section">
                14th June 2015
            </td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Competitors' List
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/14-Jun-2015/CompetitorsList.pdf" target="_blank">List</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Junior Ballroom & Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/14-Jun-2015/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/14-Jun-2015/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Ballroom
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/14-Jun-2015/Results3.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
    <table class="result-table" style="width: 100%;">
        <tr>
            <td colspan="2" class="section">
                8th March 2015
            </td>
        </tr>
        <tr>
                <td style="width: 95%;" class="pull-left">
                    Competitors' List
                </td>
                <td class="pull-right"><a href="/ResultFiles/Leatherhead/08-Mar-2015/CompetitorsList.pdf" target="_blank">List</a></td>
            </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Junior Ballroom & Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/08-Mar-2015/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/08-Mar-2015/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Ballroom
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/08-Mar-2015/Results3.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
    <table class="result-table" style="width: 100%;">
        <tr>
            <td colspan="2" class="section">
                15th February 2015
            </td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Competitors' List
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Feb-2015/Competitors List.pdf" target="_blank">List</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Junior Ballroom & Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Feb-2015/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Feb-2015/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Ballroom
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Feb-2015/Results3.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
    <table class="result-table" style="width: 100%;">
        <tr>
            <td colspan="2" class="section">
                16th November 2014
            </td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                Junior Ballroom & Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/16-Nov-2014/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/16-Nov-2014/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Ballroom
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/16-Nov-2014/Results3.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
    <!-- Note: for the 14th Sept, I've had to add inline CSS styles so that the table looked like the others below. -->
    <table class="result-table" style="width: 100%;">
        <tr>
            <td colspan="2" class="section">
                14th September 2014, David Osborne Tribute Day
            </td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">
                All adult competitions
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/14-Sep-2014/Results.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
    <table class="result-table">
        <tr>
            <td colspan="4" class="section">
                17th August 2014, Jim Langton Tribute Day
            </td>
        </tr>
        <tr>
            <td class="pull-left">
                Open Junior (T & Q), Open Junior (W & F), Open Junior (C & R), Open Junior (S & J) & Open Junior (C, S, R, P & J).
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/17-Aug-2014/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult latin: Beginners, Novice, Intermediate, Open Pre-champ, Senior Pre-champ, Senior 2, Open Senior, Open Amateur, Open Jive & Open Rumba
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/17-Aug-2014/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Ballroom: Intermediate, Over 35s Waltz, Senior 3, Beginners, Senior Intermediate, Open Pre-champ, Senior Pre-champ, Over 35s Foxtrot, Senior 2, Open Quickstep, Novice, Over 35s Tango, Open VW, Open Senior & Open Amateur
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/17-Aug-2014/Results3.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
    <table class="result-table">
        <tr>
            <td colspan="4" class="section">
                15th June 2014, Edward Noyce Tribute Day
            </td>
        </tr>
        <tr>
            <td class="pull-left">
                Open Junior Cha Cha & Rumba, Open Junior Samba & Jive, Open Junior Cha Cha, Samba, Rumba, Paso & Jive, Novice Cha Cha & Jive, Intermediate Cha Cha, Samba, Rumba & Jive and Open Pre-Champ Cha Cha, Samba, Rumba and Jive.
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Jun-2014/Results1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult latin: Senior Pre-Champ, Senior 2, Open Senior, Open Jive, Open Rumba
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Jun-2014/Results2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult Ballroom: Intermediate, Over 50 Senior Pre-Champ, Over 35s Waltz, Senior 3, Senior Intermediate, Senior Pre-Champ, Over 35s Foxtrot, Senior 2, Open Quickstep, Over 35s Tango, Open Vienesse Waltz, Open Senior and Open Amateur
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/15-Jun-2014/Results3.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
    <table class="result-table">
        <tr>
            <td colspan="4" class="section">
                23rd March 2014, Cairncross/Follett Awards Day
            </td>
        </tr>
        <tr>
            <td class="pull-left">
                Juvenille All Girls, Junior All Girls C, R & J, Junior All Girls W, T & Q, Open Juvenile 2 dance T & Q, Open Juvenile 2 dance W & T, Open Juvenile 2 dance R & J, Open Juvenile 2 dance C & S, Open Juvenile 4 dance,
                Open Junior 2 dance T & Q, Open Junior 2 dance W & F, Open Junior 5 dance WTVWFQ, Open Junior 2 dance C & R, Open Junior 2 dance S & J and
                Open Junior 5 dance CSRPJ
            </td>
            <td class="pull-right">Results unavailable</td>
        </tr>
        <tr>
            <td class="pull-left">
                Adult latin: Beginners, Novice, Intermediate, Open Pre-Champ, Senior Pre-Champ, Senior 2, Open Senior, Open Jive and Open Rumba
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/23-Mar-2014/Results-4.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Open V Waltz and Open Senior
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/23-Mar-2014/Results-1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Over 35s Foxtrot, Senior 2, Open Quickstep, Novice and Over 35s Tango
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/23-Mar-2014/Results-2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Intermediate, Over 50s Senior Pre-Champ, Over 35s Waltz, Senior 3, Beginners, Senior Intermediate, Open Pre-Champ and Senior Pre-Champ
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/23-Mar-2014/Results-3.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
    <table class="result-table">
        <tr>
            <td colspan="4" class="section">
                26th January 2014, Bill & Silvia Mitchell Tribute Day
            </td>
        </tr>
        <tr>
            <td class="pull-left">
                Juvenille All Girls, Junior All Girls C, R & J, Junior All Girls W, T & Q
            </td>
            <td class="pull-right">Results unavailable</td>
        </tr>
        <tr>
            <td class="pull-left">
                Open Juvenile 2 dance T & Q, Open Juvenile 2 dance W & T, Open Juvenile 2 dance R & J, Open Juvenile 2 dance C & S, Open Juvenile 4 dance,
                Open Junior 2 dance T & Q, Open Junior 2 dance W & F, Open Junior 5 dance WTVWFQ, Open Junior 2 dance C & R, Open Junior 2 dance S & J,
                Open Junior 5 dance CSRPJ, Beginners, Novice, Intermediate, Open Pre-Champ, Senior Pre-Champ
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/26-Jan-2014/Results-1.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">
                Open Jive, Open Rumba, Intermediate, Over 50's Senior Pre-Champ, Over 35's Waltz, Senior 3, Beginners, Intermediate,
                Open Pre-Champ, Senior Pre-Champ, Over 35's Foxtrot
            </td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/26-Jan-2014/Results-2.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Senior 2, Open Quickstep, Novice, Over 35's Tango, Open Vienesse Waltz, Open Senior, Open Amateur</td>
            <td class="pull-right"><a href="/ResultFiles/Leatherhead/26-Jan-2014/Results-3.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
</div>

