<?xml version="1.0"?>
<appSettings>
  <add key="Error.Save" value="true" />
  <add key="Error.Filename" value="D:\Personal\Git\BlackwaterPharma\BlackwaterPharma\Content\Assets\JSON\ErrorFile.txt" />
  <add key="JSON.Results" value="G:\PleskVhosts\LeatherheadComp.co.uk\httpdocs\Assets\JSON\Results.json" />
  <add key="JSON.CompDates" value="G:\PleskVhosts\LeatherheadComp.co.uk\httpdocs\Assets\JSON\CompDates.json" />
</appSettings>