<?xml version="1.0"?>
<appSettings>
  <add key="Error.Save" value="true" />
  <add key="Error.Filename" value="C:\Users\RobertSilver\Documents\GitHub\LeatherheadWebsite\LeatherheadCompWeb\Assets\JSON\ErrorFile.txt" />
  <add key="JSON.Results" value="C:\Users\RobertSilver\Documents\GitHub\LeatherheadWebsite\LeatherheadCompWeb\Assets\JSON\Results.json" />
  <add key="JSON.CompDates" value="C:\Users\RobertSilver\Documents\GitHub\LeatherheadWebsite\LeatherheadCompWeb\Assets\JSON\CompDates.json" />
</appSettings>
