#site-content .main {float: left;width: 75%; overflow: hidden; display: table-cell; }
#site-content .announcements { float: right;width: 24%; border-left: 1px solid #fff;margin-top: 5px; padding: 5px; }
#site-contebt .announcements p {margin: 0; padding:0;}
