.dance-related  { margin: 20px 0 0 20px;font-size: 16px;}
.dance-related h2 { margin: 0;padding: 0;font-weight: bold;font-size: 28px;}
.dance-related p {margin-left: 20px;}
.dance-related label.prefix {color: #FFFFFF; font-weight: bold; margin: 0 10px 0 0; text-align: right; width: 136px; display: inline-block;}
