#site-content .competition-name { font-weight: bold; text-align: center; font-size: 24px; }
#site-content .national-league-event { text-align: center; font-size: 16px; margin-top: 5px; }
#site-content .competition-date { font-weight: bold; text-align: center; font-size: 22px; margin-top: 5px; }
#site-content .venue {  text-align: center; font-size: 14px; margin-top: 5px; }
#site-content .sponsor { font-weight: bold; text-align: center; font-size: 14px; margin-top: 5px; }
    #site-content .sponsor a { text-decoration: underline; }
#site-content .doors-open { font-weight: bold; text-align: center; font-size: 14px; margin-top: 5px; }
#site-content .adjudicators { font-weight: bold; text-align: center; font-size: 14px; margin-top: 5px; }
#site-content .programme { border: 1px solid #ffffff; text-align: center; margin: 0 auto; margin-top: 10px;}
#site-content .programme .section { font-weight: bold;}
#site-content .programme .pull-left { text-align: left;}
#site-content .programme .pull-right { text-align: right;}
