body { font-size: .85em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; color: #FFF; background-color: #666666; }

header, footer, nav, section { display: block; }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset { border: 1px solid #ddd; padding: 0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; }

legend { font-size: 1.2em; font-weight: bold; }

textarea { min-height: 75px; }

.editor-label { margin: 1em 0 0 0; }

.editor-field { margin: 0.5em 0 0 0; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error { color: #f00; }

.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid #f00; background-color: #fee; }

.validation-summary-errors { font-weight: bold; color: #f00; }

.validation-summary-valid { display: none; }

.cf { zoom: 1; }
    .cf:before,
    .cf:after { content: ""; display: table; }
    .cf:after { clear: both; }

ul { list-style: none outside none; }
a { color: #FFFFFF; cursor: pointer; outline: 0 none; }
a { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); font-size: 100%; margin: 0; padding: 0; text-decoration: none; vertical-align: baseline; }

#site-wrapper { margin: 0 auto; width: 1020px; }
#site-header { border-bottom: 0 none; height: 130px; position: relative; }
    #site-header .site-logo { background: url("/Content/Images/site-logo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 77px; left: 0; position: absolute; top: 42px; width: 347px; }

#main-nav { background-color: #484848; color: #fff; font-size: 15px; line-height: 43px; height: 43px; }
    #main-nav > ul { display: table; height: 43px; width: 100%; }
        #main-nav > ul > li { text-align: center; display: table-cell; padding: 0 6px; -moz-box-shadow: 8px 0 0 -7px #767676; -webkit-box-shadow: 8px 0 0 -7px #767676; box-shadow: 8px 0 0 -7px #767676; }
            #main-nav > ul > li.is-last { -moz-box-shadow: 0 0 0 0 #767676; -webkit-box-shadow: 0 0 0 0 #767676; box-shadow: 0 0 0 0 #767676; }
            #main-nav > ul > li > a { color: #fff; }
            #main-nav > ul > li.is-selected, #main-nav > ul > li:hover { background-color: #3b3b3b; }
    #main-nav > ul { width: auto; padding-left: 0; }
        #main-nav > ul > li { padding: 0 20px; }
.text-14 { font-family: "museo-sans",museo,"helvetica neue",helvetica,arial,sans-serif; font-size: 14px; font-weight: 500; }

#site-content { background-color: #5c5c5c; margin-top: 14px; padding-bottom: 0; width: 1020px; }

#site-footer { background-color: #484848; height: 131px; margin: 0; position: relative;color: #fff; }

    #site-footer > .footer-logo { background: url("/Content/Images/footer-logo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 37px; left: 23px; position: absolute; top: 25px; width: 191px; }

    #site-footer > .footer-copyright { left: 23px; position: absolute; top: 73px; }
p.text-12 { line-height: 15px; }
.text-12 { font-family: "museo-sans",museo,"helvetica neue",helvetica,arial,sans-serif; font-size: 12px; font-weight: 500; }
