@{
    ViewBag.Title = "Contact Us";
}

<div class="contact-us">
    <h2>Contact Us</h2>

    <p>
        Tylney Ballroom at Leatherhead Leisure Centre
    </p>

    <p>
        Georgina Cairncross
    </p>
    <p>
        Email 	dancing@georginacairncross.co.uk
Website: 	www.georginacairncross..co.uk
Mobile: 	07904 087035
    Phone: 	0208 850 6069
    </p>
</div>
