@{
    ViewBag.Title = "Contact Us";
}

<div class="contact-us">
    <h2>Contact Us</h2>
    <article>
        <h3>Tylney Ballroom at Leatherhead Leisure Centre
        </h3>
        <p>
            Georgina Cairncross
        </p>
        <p>
            <label class="prefix">
                Email:	
            </label>
            <label><a style="text-decoration: underline;" href="mailto:g.cairncross@sky.com" target="_blank">g.cairncross@sky.com</a></label>
        </p>
        <p>
            <label class="prefix">
                Mobile: 	
            </label>
            <label>
                <a href="tel:07904087035" target="_blank">07904 087035</a>
            </label>
        </p>
        <p>
            <label class="prefix">
                Phone: 
            </label>
            <label>
                <a href="tel:02088506069" target="_blank">0208 850 6069</a>
            </label>
        </p>
    </article>
    <article class="sparkles">
        <h3>Sponsor
        </h3>
        <p>
            Sparkle Designs Limited, Eastbourne, East Sussex, England
        </p>
        <p>
            Ballroom and Latin American Dresses
        </p>
        <p>
            Unique Affordable Couture
        </p>
        <p>
            <label class="prefix">
                Email:	
            </label>
            <label><a style="text-decoration: underline;" href="mailto:sales@sparkledesignuk.com" target="_blank">sales@sparkledesignuk.com</a></label>
        </p>
        <p>
            <label class="prefix">
                Website:	
            </label>
            <label><a style="text-decoration: underline;" href="http://www.sparkledesignsuk.com" target="_blank">www.sparkledesignsuk.com</a></label>
        </p>
        <p>
            <label class="prefix">
                Mobile: 	
            </label>
            <label>
                <a href="tel:07817470731" target="_blank">07817 470731</a>
            </label>
        </p>
        <p>
            <label class="prefix">
                Phone: 
            </label>
            <label>
                <a href="tel:01323723536" target="_blank">01323 723536</a>
            </label>
        </p>
    </article>
</div>
