@{
    ViewBag.Title = "Dance Related";
}

<div class="dance-related">
    <h2>Dance Related</h2>
    <article>
        <p>
            <label class="prefix">
                Sparkle Designs: 
            </label>
            <label style="display: inline-block; width: 460px; vertical-align: middle;">
                <a href="http://www.sparkledesignsuk.com" target="_blank">100% English Couture Dance Dress Manufacturer, representative for
                Dance America Practicewear in the UK and... Sponsor of
                Tylney Ballroom competitions and website
                    </a>
            </label>
        </p>
        <p>
            <label class="prefix">
                Ron Self: 
            </label>
            <label style="display: inline-block; width: 460px; vertical-align: middle;">
                Ron Self Professional Dance Photographer 0208 500 1453 (no website)
            </label>
        </p>
          <p>
            <label class="prefix">
                 Dance News: 
            </label>
            <label style="display: inline-block; width: 460px; vertical-align: middle;">
                <a href="http://www.dance-news.co.uk" target="_blank">     Find us in Dance News, a weekly newspaper for the world of dance
                    </a>
            </label>
        </p>
    </article>
</div>
