@{
    ViewBag.Title = "Index";
}

<div class="intro1">
    Georgina Cairncross Presents
</div>
<div class="intro1">
    Leatherhead Ballroom and Latin American Dance Competitions
</div>
<div class="intro2">
    Tylney Ballroom
</div>
<div class="intro3">
    at Leatherhead Leisure Centre - Home to selected DPA competitions
</div>
