@{
    ViewBag.Title = "Home";
}

<div class="competition-date">
    13th March 2016
</div>
<div class="competition-name">
    Cairncross/Follett Awards Day
</div>
<div class="other-information">
    DPA Points awarded today for DPA Charts. NL=National League<br />
    SL=Super National League-Junior Latin, Under 21 Modern & Senior 2 Modern.<br />
    Trophy for Dedicated Ballroom Gentleman competition.<br />
    Winner to receive returnable Trophy and 1 litre bottle of whisky.<br />
</div>
<div class="national-league-event">
    A DPA/BDF National League Event
</div>
<div class="future-stars">
    Stars of the Future/"Britain's Best Titles" heats.
</div>
<div class="sponsor">
    SPONSORED BY <a href="http://www.sparkledesignsuk.com" target="_blank">SPARKLE DESIGNS</a>
</div>
<div class="venue">
    Tylney Ballroom, Leatherhead Leisure Centre, Guildford Road, Leatherhead, Surrey, KT22 9BL<br />
    (M25 Junction 9, 1 ½ miles to Centre). Large Free Car Park.
</div>
<div class="doors-open">
    Doors open 10.30am - 7.00pm
</div>
<div class="popup-container">
    <div class="adjudicators">
        Adjudicators: Nicole Cutler, Harry Ferris, Stephen Thomas (Australia), Frank Venables and Julie Williams.
    </div>
    <!-- Note: these popup-content classes must stay within the popup-container class.
        Otherwise users cannot click on the items in the popup due to the javascript rules in the lhc.js file. -->
    <div id="pop_contGF" class="popup-content">
        <p>
            <strong>Address:</strong> 14 Whitminster Close, Stonegate Estate, Willenhall, West Midlands.
        </p>
        <p>
            <strong>Tel:</strong> <a href="tel:01902633497" target="_blank">01902-633497</a>
        </p>
        <p>
            <strong>Email:</strong> <a href="mailto:fosterdance@hotmail.com" target="_blank">fosterdance@hotmail.com</a>
        </p>
        <p>
            Coaching, demonstrations & adjudicator for modern & Latin
        </p>
    </div>
    <div id="pop_contDH" class="popup-content">
        <p>
            Diane Haywood: former English Open Amateur Modern Champion, All
            England & UK (Closed) Professional Modern Finalist.
        </p>
        <p>
            <strong>Address:</strong> 15 Hartington Avenue, Hucknall, Nottingham NG15 6TA.
        </p>
        <p>
            <strong>Tel:</strong> <a href="tel:01159681409" target="_blank">0115 968 1409</a>
        </p>
        <p>
            <strong>Mobile:</strong> <a href="tel:07778219920" target="_blank">07778-219920</a>
        </p>
        <p>
            <strong>Email:</strong> <a href="mailto:Diane.haywood777@btinternet.com" target="_blank">Diane.haywood777@btinternet.com</a>
        </p>
        <p>
            Coaching & Championship adjudicator for modern & latin
        </p>
    </div>
    <div id="pop_contPN" class="popup-content">
        <p>
            Former twice World Rep (NZ), UK U/21 Cld Amateur Champion, Open UK 10 Dance Pro Finalist & UK Cld Latin Finalist, European 10 Dance Semi-Finalist, WDC International & BDC Championship Adjudicator
        </p>
        <p>
            <strong>Web:</strong> <a href="http://www.peternashdance.co.uk" target="_blank">www.peternashdance.co.uk</a>
        </p>
        <p>
            <strong>Email:</strong> <a href="mailto:pn_hyper@yahoo.co.uk" target="_blank">pn_hyper@yahoo.co.uk</a>
        </p>
        <p>
            <strong>Tel:</strong> <a href="tel:07795 274148" target="_blank">07795 274148</a>
        </p>
        <p>
            Available for coaching, adjudicating, lectures and dance holidays
        </p>
    </div>
    <div id="pop_contJL" class="popup-content">
        <p>
            Coaching, demonstrations, event organiser, adjudicator (ballroom, latin & Argentine tango)
        </p>
        <p>
            <strong>Address:</strong> Penrith, Carteret Road, Cobo, Castel, Guernsey, GY5 7YU
        </p>
        <p>
            <strong>Web:</strong> <a href="http://www.letsdance-guernsey.co.uk" target="_blank">www.letsdance-guernsey.co.uk</a>
        </p>
        <p>
            <strong>Email:</strong> <a href="mailto:jamie.letissier@cwgsy.net" target="_blank">jamie.letissier@cwgsy.net</a>
        </p>
        <p>
            <strong>Tel:</strong> <a href="tel:07781115568" target="_blank">07781 115568</a>
        </p>
    </div>
</div>
<table class="programme">
    <tr>
        <td colspan="4" class="section">
            Juvenile Section - From 11.00am
        </td>
    </tr>
    <tr>
        <td class="pull-left">Open Juvenile Beginners</td>
        <td class="pull-right">Q</td>
        <td class="pull-left">Open Juvenile Novice</td>
        <td class="pull-right">W,Q</td>
    </tr>
    <tr>
        <td class="pull-left">Open Juvenile All Girls</td>
        <td class="pull-right">W.T.Q</td>
        <td class="pull-left">Open Juvenile 2 dance</td>
        <td class="pull-right">T.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Open Juvenile 2 dance</td>
        <td class="pull-right">W.T</td>
        <td class="pull-left">Open Juvenile 4 dance</td>
        <td class="pull-right">W.T.F.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Open Juvenile Beginners</td>
        <td class="pull-right">J</td>
        <td class="pull-left">Open Juvenile Novice</td>
        <td class="pull-right">C.J</td>
    </tr>
    <tr>
        <td class="pull-left">Open Junior All Girls</td>
        <td class="pull-right">C.R.J</td>
        <td class="pull-left">Open Juvenile 2 dance</td>
        <td class="pull-right">R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Open Juvenile 2 dance</td>
        <td class="pull-right">C.S</td>
        <td class="pull-left">Open Juvenile 4 dance latin <span class="super-league"> - SL</span></td>
        <td class="pull-right">C.S.R.J</td>
    </tr>
    <tr>
        <td colspan="4" class="section">
            Junior Section
        </td>
    </tr>
    <tr>
        <td class="pull-left">Open Junior Beginners</td>
        <td class="pull-right">Q</td>
        <td class="pull-left">Open Junior Novice</td>
        <td class="pull-right">W.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Open Junior All Girls</td>
        <td class="pull-right">W.T.Q</td>
        <td class="pull-left">Open Junior 2 Dance</td>
        <td class="pull-right">T.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Open Junior 2 Dance</td>
        <td class="pull-right">W.T</td>
        <td class="pull-left">Open Junior 5 dance</td>
        <td class="pull-right">W.T.F.Q.VW</td>
    </tr>
    <tr>
        <td class="pull-left">Open Junior Beginners</td>
        <td class="pull-right">J</td>
        <td class="pull-left">Open Junior Novice</td>
        <td class="pull-right">C.J</td>
    </tr>
    <tr>
        <td class="pull-left">Open Junior All Girls</td>
        <td class="pull-right">C.R.J</td>
        <td class="pull-left">Open Junior 2 Dance</td>
        <td class="pull-right">R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Open Junior 2 Dance</td>
        <td class="pull-right">C.R</td>
        <td class="pull-left">Junior 5 dance<span class="super-league"> - SL</span></td>
        <td class="pull-right">C.S.R.P.J</td>
    </tr>
    <tr>
        <td colspan="4" class="section">
            Adult Phase 1 (Latin) - At midday
        </td>
    </tr>
    <tr>
        <td class="pull-left">Under 35's Beginners</td>
        <td class="pull-right">C.J</td>
        <td class="pull-left">Over 35's Beginners</td>
        <td class="pull-right">C.J</td>
    </tr>
    <tr>
        <td class="pull-left">Under 35's Novice</td>
        <td class="pull-right">C.J</td>
        <td class="pull-left">Over 35's Novice</td>
        <td class="pull-right">C.J</td>
    </tr>
    <tr>
        <td class="pull-left">Under 35's Intermediate</td>
        <td class="pull-right">C,S,R,J</td>
        <td class="pull-left">Over 35's Intermediate</td>
        <td class="pull-right">C,S,R,J</td>
    </tr>
    <tr>
        <td class="pull-left">Under 35's Pre-Champ</td>
        <td class="pull-right">C.S.R.J</td>
        <td class="pull-left">Over 35's Pre-Champ</td>
        <td class="pull-right">C.S.R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Senior 2</td>
        <td class="pull-right">C.S.R.P.J</td>
        <td class="pull-left">Senior 1</td>
        <td class="pull-right">C.S.R.P.J</td>
    </tr>
    <tr>
        <td class="pull-left">Open Amateur</td>
        <td class="pull-right">C.S.R.P.J</td>
        <td class="pull-left">Open</td>
        <td class="pull-right">Jive</td>
    </tr>
    <tr>
        <td class="pull-left">Open</td>
        <td class="pull-right">Rumba</td>
    </tr>
    <tr>
        <td colspan="4" class="section">
            Adult Phase 2 (Ballroom) - From 1.30pm
        </td>
    </tr>
    <tr>
        <td class="pull-left">Over 50s Senior Pre-Champ</td>
        <td class="pull-right">W.T.F.Q</td>
        <td class="pull-left">Over 35's</td>
        <td class="pull-right">Waltz</td>
    </tr>
    <tr>
        <td class="pull-left">Senior 3</td>
        <td class="pull-right">W.T.F.Q</td>
        <td class="pull-left">Under 35's Beginners</td>
        <td class="pull-right">W.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Over 35's Beginners</td>
        <td class="pull-right">W.Q</td>
        <td class="pull-left">Under 21’s</td>
        <td class="pull-right">W,T,F,Q (VW)<span class="super-league"> - SL</span></td>
    </tr>
    <tr>
        <td colspan="4" class="section">
            Adult Phase 3 - From 2.30pm
        </td>
    </tr>
    <tr>
        <td class="pull-left">Under 35's Intermediate</td>
        <td class="pull-right">W.T.F.Q</td>
        <td class="pull-left">Over 35's Intermediate</td>
        <td class="pull-right">W.T.F.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Under 35's Pre-Champ</td>
        <td class="pull-right">W.T.F.Q</td>
        <td class="pull-left">Over 35's Pre-Champ</td>
        <td class="pull-right">W.T.F.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Over 35's</td>
        <td class="pull-right">Foxtrot</td>
        <td class="pull-left">Senior 2</td>
        <td class="pull-right">W.T.F.Q<span class="super-league"> - SL</span></td>
    </tr>
    <tr>
        <td class="pull-left">Open</td>
        <td class="pull-right">Quickstep</td>
        <td class="pull-left">&nbsp;</td>
        <td class="pull-right">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="section">
            Adult Phase 4 - From 3.30pm
        </td>
    </tr>
    <tr>
        <td class="pull-left">Under 35's Novice</td>
        <td class="pull-right">W.Q</td>
        <td class="pull-left">Over 35's Novice</td>
        <td class="pull-right">W.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Over 35's</td>
        <td class="pull-right">Tango</td>
        <td class="pull-left">Open</td>
        <td class="pull-right">Vienesse Waltz</td>
    </tr>
    <tr>
        <td class="pull-left">Senior 1</td>
        <td class="pull-right">W.T.F.Q (VW)</td>
        <td class="pull-left">Open Amateur</td>
        <td class="pull-right">W.T.F.Q (VW)</td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        lhc.nonModelPopup();
    });
</script>
