@{
    ViewBag.Title = "Index";
}

<div class="competition-name">
    Bill & Sylvia Mitchell Tribute Day<br />

</div>
<div class="national-league-event">
    A DPA/BDF National League Event
</div>
<div class="competition-date">
    Sunday 26th January 2014
</div>
<div class="venue">
    Tylney Ballroom, Leatherhead Leisure Centre, Guidford Road, Leatherhead, Surrey, KT22 9BL
</div>
<div class="sponsor">
    Sponsored by <a href="http://www.sparkledesignsuk.com" target="_blank">Sparkle Designs</a>
</div>
<div class="doors-open">
    Doors open 10.15am - 7.00pm
</div>
<div class="adjudicators">
    Adjudicators: To be announced
</div>

<table class="programme">
    <tr>
        <td colspan="4" class="section">Juvenile Section - From 10.45am
        </td>
    </tr>
    <tr>
        <td class="pull-left">Juvenile Beginners</td>
        <td class="pull-right">W</td>
        <td class="pull-left">Juvenile Beginners</td>
        <td class="pull-right">C</td>
    </tr>
    <tr>
        <td class="pull-left">Juvenile Novice</td>
        <td class="pull-right">W.Q</td>
        <td class="pull-left">Juvenile Novice</td>
        <td class="pull-right">C.J</td>
    </tr>
    <tr>
        <td class="pull-left">Juvenile 2 dance</td>
        <td class="pull-right">T.Q</td>
        <td class="pull-left">Juvenile 2 dance</td>
        <td class="pull-right">C.S</td>
    </tr>
    <tr>
        <td class="pull-left">Juvenile 2 dance</td>
        <td class="pull-right">T.Q</td>
        <td class="pull-left">Juvenile 2 dance</td>
        <td class="pull-right">R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Juvenile All Girls</td>
        <td class="pull-right">W.T.Q</td>
        <td class="pull-left">Juvenile All Girls</td>
        <td class="pull-right">C.R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Juvenile</td>
        <td class="pull-right">W.T.F.Q</td>
        <td class="pull-left">Juvenile</td>
        <td class="pull-right">C.S.R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Juvenile 2 dance</td>
        <td class="pull-right">T.Q</td>
        <td class="pull-left">&nbsp;</td>
        <td class="pull-right">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="section">Junior Section
        </td>
    </tr>
    <tr>
        <td class="pull-left">Junior Beginners</td>
        <td class="pull-right">Q</td>
        <td class="pull-left">Junior Beginners</td>
        <td class="pull-right">J</td>
    </tr>
    <tr>
        <td class="pull-left">Junior Novice</td>
        <td class="pull-right">W.Q</td>
        <td class="pull-left">Junior Novice</td>
        <td class="pull-right">C.J</td>
    </tr>
    <tr>
        <td class="pull-left">Junior 2 Dance</td>
        <td class="pull-right">T.Q</td>
        <td class="pull-left">Junior 2 Dance</td>
        <td class="pull-right">C.R</td>
    </tr>
    <tr>
        <td class="pull-left">Junior 2 Dance</td>
        <td class="pull-right">W.F</td>
        <td class="pull-left">Junior 2 dance</td>
        <td class="pull-right">S.J</td>
    </tr>
    <tr>
        <td class="pull-left">Junior All Girls</td>
        <td class="pull-right">W.T.Q</td>
        <td class="pull-left">Junior All Girls</td>
        <td class="pull-right">C.R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Junior</td>
        <td class="pull-right">W.T.F.Q.VW</td>
        <td class="pull-left">Junior</td>
        <td class="pull-right">C.S.R.P.J</td>
    </tr>
    <tr>
        <td colspan="4" class="section">Adult Phase 1 (Latin) - From midday
        </td>
    </tr>
    <tr>
        <td class="pull-left">Beginners</td>
        <td class="pull-right">C.J</td>
        <td class="pull-left">Novice</td>
        <td class="pull-right">C.J</td>
    </tr>
    <tr>
        <td class="pull-left">Intermediat</td>
        <td class="pull-right">C.S.R.J</td>
        <td class="pull-left">Open Pre-Champ</td>
        <td class="pull-right">C.S.R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Senior Pre-Champ</td>
        <td class="pull-right">C.S.R.J</td>
        <td class="pull-left">Senior 2</td>
        <td class="pull-right">C.S.R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Open Senior</td>
        <td class="pull-right">C.S.R.J</td>
        <td class="pull-left">Open Amateur</td>
        <td class="pull-right">C.S.R.J</td>
    </tr>
    <tr>
        <td class="pull-left">Open Jive</td>
        <td>&nbsp;</td>
        <td class="pull-left">Open Rumba</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="section">Adult Phase 2 (Ballroom) - From 1.30pm
        </td>
    </tr>
    <tr>
        <td class="pull-left">Intermediate</td>
        <td class="pull-right">W.T.F.Q</td>
        <td class="pull-left">Over 50s Senior Pre-Champ</td>
        <td class="pull-right">W.T.F.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Open 35s Waltz</td>
        <td class="pull-right">&nbsp;</td>
        <td class="pull-left">Senior 3</td>
        <td class="pull-right">W.T.F.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Beginners</td>
        <td class="pull-right">W.Q</td>
        <td class="pull-left">&nbsp;</td>
        <td class="pull-right">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="section">Adult Phase 3 - From 2.30pm
        </td>
    </tr>
    <tr>
        <td class="pull-left">Senior Intermediate</td>
        <td class="pull-right">W.T.F.Q</td>
        <td class="pull-left">Open Pre-Champ</td>
        <td class="pull-right">W.T.F.Q</td>
    </tr>
    <tr>
        <td class="pull-left">Senior Pre-Champ</td>
        <td class="pull-right">W.T.F.Q</td>
        <td class="pull-left">Over 35s Foxtrot</td>
        <td class="pull-right">&nbsp;</td>
    </tr>
    <tr>
        <td class="pull-left">Senior 2</td>
        <td class="pull-right">W.T.F.Q</td>
        <td class="pull-left">Open Quickstep</td>
        <td class="pull-right">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="section">Adult Phase 4 - From 3.30pm
        </td>
    </tr>
    <tr>
        <td class="pull-left">Novice</td>
        <td class="pull-right">W.Q</td>
        <td class="pull-left">Over 35s Tango</td>
        <td class="pull-right">&nbsp;</td>
    </tr>
    <tr>
        <td class="pull-left">Over 35s Tango</td>
        <td class="pull-right">&nbsp;</td>
        <td class="pull-left">Over 35s VW</td>
        <td class="pull-right">&nbsp;</td>
    </tr>
    <tr>
        <td class="pull-left">Open Senior</td>
        <td class="pull-right">W.T.F.Q (VW)</td>
        <td class="pull-left">Open Amatuer</td>
        <td class="pull-right">W.T.F.Q (VW)</td>
    </tr>
</table>
