@{
    ViewBag.Title = "Meet The Team";
}

<div class="meet-the-team">
    <h2>Meet The Team</h2>
    <div class="members">
        <ul class="cf">
            <li id="pop_trigGC" class="popup-trigger">
                <p>
                    <img src="~/Content/Images/georgina.jpg" alt="Georgina Cairncross" />
                </p>
                <p>
                    Georgina Cairncross<br />
                    Organiser & Compere
                </p>
            </li>
            <li class="popup-trigger">
                <p>
                    <img src="~/Content/Images/john.jpg" alt="John Cairncross" />
                </p>
                <p>
                    John Cairncross<br />
                    Organiser & Scrutineer
                </p>
            </li>
            <li class="popup-trigger">
                <p>
                    <img src="~/Content/Images/juliec.jpg" alt="Julie Cairncross" />
                </p>
                <p>
                    Julie Cairncross<br />
                    Music
                </p>
            </li>
            <li class="popup-trigger">
                <p>
                    <img src="~/Content/Images/valerie.jpg" alt="Valerie Martin" />
                </p>
                <p>
                    Valerie Martin<br />
                    Door & Cashier
                </p>
            </li>
            <li class="popup-trigger">
                <p>
                    <img src="~/Content/Images/julief.jpg" alt="Julie Follett" />
                </p>
                <p>
                    Julie Follett<br />
                    Assistant
                </p>
            </li>
            <li class="popup-trigger">
                <p>
                    <img src="~/Content/Images/steve.jpg" alt="Steve Follett" />
                </p>
                <p>
                    Steve Follett<br />
                    Assistant
                </p>
            </li>
            <li class="popup-trigger">
                <p>
                    <img src="~/Content/Images/iris.jpg" alt="Iris Findlay" />
                </p>
                <p>
                    Iris Findlay<br />
                    Entries & Dance Reports
                </p>
            </li>
            <li class="popup-trigger">
                <p>
                    <img src="~/Content/Images/sheila.jpg" alt="Sheila Self" />
                </p>
                <p>
                    Sheila Self<br />
                    Refreshments & Lunch for judges
                </p>
            </li>
            <li class="popup-trigger">
                <p>
                    <img src="~/Content/Images/ron.jpg" alt="Ron Self" />
                </p>
                <p>
                    Ron Self<br />
                    Photographer
                </p>
            </li>
            <li class="popup-trigger">
                <p>
                    <img src="~/Content/Images/morris.jpg" alt="Morris Findlay" />
                </p>
                <p>
                    Morris Findlay<br />
                    Photographer
                </p>
            </li>
        </ul>
         <div id="pop_contGC" class="popup-content">
             <p>
                 <strong>Phone:</strong>+44-(0)208-850-6069</p>
              <p>
                <strong>Mobile:</strong>+44-(0)7904-087035</p>
            <p>
                <strong>Email:</strong> <a href="mailto:g.cairncross@sky.com">g.cairncross@sky.com</a></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        lhc.nonModelPopup();
    });       
</script>
