@{
    ViewBag.Title = "Results";
}

<div class="results">
    <h2>Results</h2>
    <table class="result-table">
        <tr>
            <td>
                26th January 2014 - <a class="results-link" href="Results" target="_blank">View the results</a>
            </td>
        </tr>
    </table>
</div>

