@{
    ViewBag.Title = "Reports";
}

<article id="reports">
    <h1>Cairncross/Follett Awards Day - 13th March 2016. (Through one man’s eyes.  Harry Ferris.)</h1>
    <p>
        The day started a little shakily.  Our marathon runner Sheila was ill and couldn’t attend
        so Ron was on hospital duties at home and so we had no photographer.  The adjudicator
        from Australia (Stephen Thomas) was unable to attend.  However emergency systems
        came into action and fortunately, on extremely short notice, Mr Michael Pharaoh
        stepped in as a replacement adjudicator (many thanks Michael), Julie Follett’s daughter
        Chantal took on the challenge of the marathon and did extremely well, yours truly
        stepped in as photographer and the lovely Linda Venables keep us all supplied with
        liquid refreshment throughout the day.  The Dunkirk spirit still flourishes.
    </p>
    <p>
        At this event there was a special raffle for the Heros charity for returning military personnel from Afganistan. On this occasion the Cairncross family matched the proceeds from ticket sales to go to the Charity.
    </p>
    <p>
        <strong>Sponsors:</strong> <a href="http://www.sparkledesignsuk.com" target="_blank">Sparkle Designs</a> To-day was sponsored, once again, by Sparkle designs and without this regular sponsorship, days like to-day would be very difficult to sustain..
    </p>
    <p>Unfortunately the Juvenile and Junior competitors were conspicuous by their absence, however this did not detract from the atmosphere in the hall and it was a very enjoyable day.</p>
    <div class="popup-container">
        <p class="adjudicators">
            <strong>Adjudicators:</strong>Nicole Cutler, Harry Ferris, Frank Venables, Michael Pharaoh and Julie Williams (Chairlady).
        </p>
        <!-- Note: these popup-content classes must stay within the popup-container class.
            Otherwise users cannot click on the items in the popup due to the javascript rules in the lhc.js file. -->
        <div id="pop_contTM" class="popup-content">
            <p>
                Former: South of England, South East England, Middlesex, Essex Open and Warwickshire Open, Amateur Ballroom Chamption.  Grand Finalist: International, British National, Star UK Championships.
            </p>
            <p>
                <strong>Address:</strong> 8 Brighton Road, Banstead, SM7 1BS
            </p>
            <p>
                <strong>Tel:</strong> <a href="tel:01737358883" target="_blank">01737-358883</a>
            </p>
            <p>
                <strong>Mobile:</strong> <a href="tel:07815448057" target="_blank">07815-448057</a>
            </p>
            <p>
                <strong>Email:</strong> <a href="mailto:tpalmer48@googlemail.com" target="_blank">tpalmer48@googlemail.com</a>
            </p>
            <p>
                Coaching, Championship adjudicator for modern & latin.  BDC Scrutineer
            </p>
        </div>
        <div id="pop_contVRN" class="popup-content">
            <p>
                <strong>Address:</strong> 20 Ayebridges Avenue, Thorpe, Egham, Surrey TW20 8HR
            </p>
            <p>
                <strong>Tel:</strong> <a href="tel:01784458959" target="_blank">01784-458959</a>
            </p>
            <p>
                <strong>Mobile:</strong> <a href="tel:07939051216" target="_blank">07939-051216</a>
            </p>
            <p>
                <strong>Email:</strong> <a href="mailto:veedance@hotmail.com" target="_blank">veedance@hotmail.com</a>
            </p>
            <p>
                Championship adjudicator, coaching, lectures and professional training.
            </p>
        </div>
    </div>
    <h2>Results</h2>
    <section>
        <p>There were no Juvenile competitors and therefore the Juvenile programme was abandoned.</p>
        <h3>Junior Section</h3>
        <h4>Latin American</h4>
        <h5>Cha Cha & Jive and Rumba & Jive</h5>
        <p>These were all single entry events and were all won by:-  <strong>Andre Sincik and Liberty Mann</strong>.  An attractive couple but in a very trying situation, it is not easy to go onto the floor as a Beginner on your own.  Well done.  The environment is nerve wracking and unfortunately this highlights your shortcomings.</p>

        <h4>Ballroom</h4>
        <h5>Junior Beginners Quickstep & Novice Waltz & Quickstep</h5>
        <p>These were again single entry events and were therefore won by :-  <strong>Andre Sincik & Liberty Mann</strong>.</p>
    </section>
    <section>
        <h3>Adult</h3>
        <h4>Latin</h4>

        <h5>Over 35’s Beginners Cha Cha & Jive</h5>
        <p>This was a sole entry event and was won by <strong>Nigel De Zqgoa</strong> & <strong>Susie Gu</strong>.  A nice, well matched and rhythmical couple.  The man has a tendency to roll his shoulders up his back which distorts the line. (Sometimes I wonder what non - dancing people would make of these comments).   Arm usage is not good from either of them, they have not really understood that the arm movement starts from the body and rolls out through the joints of the arm.  </p>

        <h5>Novice Cha Cha & Jive</h5>
        <p><strong>1st  Barry & Carol Gravenell</strong>.  A nice easy moving couple who need to work on their poise as a priority.</p>
        <p><strong>2nd  Colin and Melanie Salmon</strong>.  The man seems to have a very laidback approach which at this grade is not a problem but may become one later.</p>
        <p><strong>3rd  Halit Derbent & Amy Wong</strong>.  A well matched couple where poise and body tone are the main detractors.</p>

        <h5>Novice Cha, Cha & Jive</h5>
        <p><strong>1st  Charlie Warriner & Mollie Clarke</strong>.  Nice young couple who seem to be making progress in the right direction.</p>
        <p><strong>2nd  Ian Pritchard & Emma Goold</strong>.   A nice very well turned out couple who, for some reason, I feel came from the University scene and are testing the water on open circuit.  If that is so, and not just me imagining things, welcome.  For me the main problem is timing issues, listen to more dance music and count the beats and bars to become more familiar with the amount of time you have available.</p>

        <h5>Over 35’s Novice  Cha Cha & Jive</h5>
        <p><strong>1st  Robin & Anne Farquhar</strong>.  For me you need to work on poise and body tone.  At present you both seem to dance down.</p>
        <p><strong>2nd  Erich Ludwig & Bebbey Newman</strong>.  An improving couple keep working.</p>
        <p><strong>3rd  Barry & Carol Gravenell</strong>.  See above.</p>
        <p><strong>4th  Colin & Melanie Salmon</strong>.  See above.</p>

        <h5>Intermediate 4 Dance</h5>
        <p><strong>1st  Laurence Johnson - Shaw & Josie Neame</strong>.  For me the man needs to dance up more to control the body shapes.</p>
        <p><strong>2nd  Kiersty & Charline Hoad</strong>.  Very well rehearsed young ladies but seemed to tire as the day went on.</p>
        <p><strong>3rd  Ian Pritchard & Emma Goold</strong>.  See above</p>

        <h5>Over 35 Intermediate CCC, Samba, Rumba & Jive</h5>
        <p><strong>1st  Robin & Anne Farquhar</strong>.  See above.</p>
        <p><strong>2nd  Erich Ludwig & Bebbey Newman</strong>. See above.</p>
        <p><strong>3rd  Barry & Carol Gravenell</strong>.  See above.</p>
        <p><strong>4th  Colin & Melanie Salmon</strong>.  See above.</p>

        <h5>Prechamp 4 Dance Latin</h5>
        <p>This was a single entry event and was won by :-  Laurence Johnson - Shaw & Josie Neame.   See above.</p>

        <h5>Over 35 Prechamp 4 Dance Latin</h5>
        <p><strong>1st  David Sloper & Karen Lintern</strong>.   I feel that your mantra for the immediate future should be body tone.  Yes your feet should be using the floor but not at the expense of the body.</p>
        <p><strong>2nd  Petar Mincheu & Anita Stone</strong>.  Here again the man needs to dance up.  At present the head is in front of the spine and the shoulders are rounded.</p>
        <p><strong>3rd  Garry Allen & Jackie Montgomery</strong>.  Now I am going to be horrible.  Garry the best head position you showed me today was in the line up for the prize presentation.  Didn’t need it there, needed it in the dance please.</p>
        <p><strong>4th  Graham & Helen Diles</strong>.  Not your best days Latin it is normally better than that.  Lost the plot a couple of times, not sure who does what next.  Seemed nervy to-day.</p>
        <p><strong>5th  Robin & Anne Farquhar</strong>.  See above.</p>
        <p><strong>6th  Erich Ludwig & Bebbey Newman</strong>.  See above.</p>
        <p><strong>7th  Martin Arthur & Debbie Ford</strong>.  See above.</p>

        <h5>Senior 2 Latin 5 Dance</h5>
        <p><strong>1st  Colin & Sandra Adam</strong>.   Convincing winners to-day but I personally would like to see more body tone from the man to connect the arms to the foot and leg actions particularly in Paso where the arms seem to move for no reason.</p>
        <p><strong>2nd  Stephen & Marilyn Cooper:</strong>.  A very experienced couple who I feel have lost their way a little of late.</p>
        <p><strong>3rd  Lee & Sasha Covington</strong>.  I felt the lady had balance issues to-day I think as a result of using the length of her feet which gives her too narrow a foot base.</p>
        <p><strong>4th  Christopher & Diana Crowhurst</strong>.  For me the man needs to improve his body tone and accept the advantages the disparity in height gives him in Latin.</p>
        <p><strong>5th  Stewart Woskett & Louise Hollamby</strong>.  This couple have retained their recent improvement in overall performance.</p>
        <p><strong>6th  Michael & Katie Brown</strong>.  A nice couple but to make progress the man will have to improve his body tone.  At the moment his front looks like it has collapsed.</p>

        <h5>xxx</h5>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        
        <h5>xxx</h5>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
        <p><strong>xxxe</strong>.  xxx</p>
    </section>

    <section>
        <h3>Adult</h3>
        <h4>Ballroom</h4>

        <h5>Novice Waltz, & Quickstep</h5>
        <p>
            This again was a single entry event won by, <strong>Laurence Johnson–Shaw</strong> & <strong>Shaunna Cornnel</strong>.  This young couple, are improving as ballroom dancers but please see the comments re. Latin as I believe the comments apply equally to both styles.  
        </p>

        <h5>Open Pre – Championship Waltz, Tango, Foxtrot & Quickstep</h5>
        <p>
            Another single entry competition this time won by, <strong>Frazer Magee</strong> & <strong>Elli Clark</strong>.  For me this young lady is positioned too far in front of partner, which restricts the swing, disturbs the contact and therefore the lead.
        </p>

        <h5>Senior Intermediate Waltz, Tango, Foxtrot & Quickstep.</h5>
        <p><strong>1st  James Barnes & Georgina Falconer</strong>.   A soft and easy pairing but poor posture ruins the look with the man having his head weight ahead of his body.</p>
        <p><strong>2nd Joe Smith & Veronica Jevons</strong>.  Poor posture restricts the movement and swing.</p>

        <h5>Senior Pre/Champ. Waltz, Tango, Foxtrot & Quickstep</h5>
        <p><strong>1st David & Jane Corby</strong>.   An improving couple but they lose the common centre, which results in a broken shoulder line.</p>
        <p><strong>2nd  Stephen Layland & Anita Stone</strong>.  This couple produced a poise and tone, that made them look solid and inhibited the use of lowering and CBM that in turn restricted the movement.</p>
        <p><strong>3rd James Barnes & Georgina Falconer</strong>.   See above</p>
        <p><strong>4th  Steve Ewing & Roz Barber</strong>.  A very experienced couple, who dance nicely, but need more movement to progress.  The ladies head is becoming over active, perhaps as a reaction to wanting to do more but not getting the opportunity.</p>
        <p><strong>5th  Frank & Angela Byrne</strong>.   Using the upper body weight to move into promenade means that the foot is behind the weight, therefore you cannot use the leg and foot to propel the body.  This leaves you out of control and inevitably out of time.</p>

        <h5>Intermediate 4 Dance</h5>
        <p><strong>1st Frazer Magee & Elli Clark</strong>.   A well matched young couple who, for me, have postural problems which inhibit the swing.  I feel that they are too much in front of each other so CBM and a smooth action are difficult.</p>
        <p><strong>2nd Laurence Johnson-Shaw & Shaunna Falconer</strong>.  The man needs better body tone and poise to improve the connection and as a result the lead.  Please see the Latin comments above as I think the comments apply to both styles.</p>
        <p><strong>3rd James Barnes & Georgina Falconer</strong>.   See above</p>

        <h5>Over 50’s Pre/Champ Waltz, Tango, Foxtrot & Quickstep</h5>
        <p><strong>1st  Jeff & Tracy Fryer</strong>.   A nice well matched couple who brought their own cheering group, but for me the arms and shoulders were over presented resulting in a poor shoulder line.  </p>
        <p><strong>2nd Steve Ewing & Roz Barber</strong>.  See Above</p>
        <p><strong>3rd Frank & Angela Byrne</strong>.   See Above</p>

        <h5>Over 35’s Waltz</h5>
        <p><strong>1st  Chris Vowden & Gail Butt</strong>.   In my opinion the man needs to improve his poise and dance up to his lady, at present he tends to have his upper body weight behind his feet.  The lady I think is too far in front of the man making the production of the swing more difficult.</p>
        <p><strong>2nd  Robert & Cindy Gurney</strong>.  A much improved couple with a good smooth action.  Now however I would like to see more and stronger body lines.</p>
        <p><strong>3rd  Bob & Jenny Samson</strong>.   An experienced couple but today I felt their alignment and poise were poor and they seemed under rehearsed.</p>
        <p><strong>4th  Christopher & Diana Crowhurst</strong>.  Today I thought there was a loss of centre, which produced a poor lead and as a result the lady was at sixes and sevens.  In my opinion they are going to have to find a way to reduce the affect of the difference in height on their performance.</p>
        <p><strong>5th Stephen Layland & Anita Stone</strong>.   See above.</p>
        <p><strong>6th  David & Jane Corby</strong>.  See above.</p>

        <h5>Senior 3 Waltz, Tango, Foxtrot & Quickstep</h5>
        <p><strong>1st David & Maggie Durrant</strong>.   Nice soft easy movers, but sometimes, like today the softening in the arms and shoulders means the elbows are too low which ruins the picture but today they were the winners. </p>
        <p><strong>2nd Bob & Jenny Samson.  </strong>.  See above.</p>
        <p><strong>3rd Trevor & Alison Laflin</strong>.   This couple need more flight and swing with CBM especially in the Foxtrot.</p>
        <p><strong>4th Frank & Angela Byrne</strong>.  See above.</p>
        <p><strong>5th Joe Smith & Veronica Jevons</strong>.   See above.</p>

        <h5>Over 35’s Foxtrot</h5>
        <p><strong>1st Chris Vowden & Gail Butt</strong>.   See above</p>
        <p><strong>2nd Robert & Cindy Gurney</strong>.  See above</p>
        <p><strong>3rd David & Maggie Durrant. </strong>.   See above</p>
        <p><strong>4th Bob & Jenny Samson</strong>.  See above</p>
        <p><strong>5th Christopher & Diana Crowhurst</strong>.   See above</p>
        <p><strong>6th David & Jane Corby</strong>.  See above</p>

        <h5>Senior 2.  Waltz, Tango, Foxtrot & Quickstep</h5>
        <p><strong>1st David & Maggie Durrant</strong>.   See above</p>
        <p><strong>2nd Bob & Jenny Samson</strong>.  See above</p>
        <p><strong>3rd Christopher & Diana Crowhurst</strong>.   See above</p>
        <p><strong>4th Jeff & Tracy Fryer</strong>.  See above</p>
        <p><strong>5th Steve Ewing & Roz Barber</strong>.   See above</p>
        <p><strong>6th Trevor & Alison Laflin</strong>.  See above</p>

        <h5>Over 35’s Tango</h5>
        <p><strong>1st Robert & Cindy Gurney.  </strong>.   See above</p>
        <p><strong>2nd John Atkinson & Louise Thornton.  </strong>.  See above</p>
        <p><strong>3rd Robert & Cindy Gurney</strong>.   See above (An unbreakable tie for third place)</p>
        <p><strong>3rd Chris Vowden & Gail Butt</strong>.  See above (An unbreakable tie for third place)</p>
        <p><strong>5th David & Jane Corby.  </strong>.   See above</p>

        <h5>Open Senior.  Waltz, Tango, Viennese Waltz, Foxtrot & Quickstep</h5>
        <p><strong>1st Ian Sharp & Victoria Lawrence</strong>.   For me, this couple, need to agree upon what they want their dancing to portray.  At the moment the lady seems to want to produce all body lines in an upward direction while the man wants them to be down and spread over the floor.  Either one is possible, and acceptable, even in the same dance, but you must agree upon which option for each line not try to do both in the same line. </p>
        <p><strong>2nd Chris Vowden & Gail Butt</strong>.  See above</p>
        <p><strong>3rd Robert & Cindy Gurney</strong>.   See above</p>
        <p><strong>4th Christopher & Diana Crowhurst</strong>.  See above</p>
        <p><strong>5th Stephen Layland & Anita Stone</strong>.   See above</p>
        <p><strong>6th David & Jane Corby</strong>.  See above</p>
        <p><strong>7th Jeff & Tracy Fryer</strong>.   See above</p>

        <h5>Open Quickstep</h5>
        <p><strong>1st Robert & Cindy Gurney</strong>.   See above</p>
        <p><strong>2nd Frazer Magee & Elli Clark</strong>.  See above</p>
        <p><strong>3rd John Atkinson & Louise Thornton</strong>.   See above</p>
        <p><strong>4th Laurence Johnson-Shaw & Shaunna Falconer</strong>.  See above</p>

        <h5>Open Amateur Waltz,Tango, Viennese Waltz, Foxtrot & Quickstep</h5>
        <p><strong>1st Robert & Cindy Gurney</strong>.   See above</p>
        <p><strong>2nd John Atkinson & Louise Thornton</strong>.  See above</p>
        <p><strong>3rd Frazer Magee & Elli Clark</strong>.   See above</p>
    </section>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        lhc.nonModelPopup();
    });
</script>
