@{
    ViewBag.Title = "Horsham Results";
}

<div class="results">
    <h2>Results</h2>
    <table class="result-table" style="width: 100%;">
        <tr>
            <td colspan="2" class="section">1st February 2015
            </td>
        </tr>
          <tr>
            <td style="width: 95%;" class="pull-left">Competitor Names
            </td>
            <td class="pull-right"><a href="/ResultFiles/Horsham/01-Feb-2015/Competitor Names.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td style="width: 95%;" class="pull-left">Junior Ballroom & Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Horsham/01-Feb-2015/Junior Ballroom and Latin.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Adult Latin
            </td>
            <td class="pull-right"><a href="/ResultFiles/Horsham/01-Feb-2015/Senior Latin.pdf" target="_blank">Results</a></td>
        </tr>
        <tr>
            <td class="pull-left">Adult Ballroom
            </td>
            <td class="pull-right"><a href="/ResultFiles/Horsham/01-Feb-2015/Senior Ballroom.pdf" target="_blank">Results</a></td>
        </tr>
    </table>
</div>

